// *{
//     outline: 1px solid olivedrab;
// }

body {
    height: 100vh;
    background: #efefef;
}

._c_navbar {
    height: 100vh;
    background: #56adad;
    a {
        color: #efefef;
        text-decoration: none;
    }
}
._c_logo-wrap {
    img {
        width: 50px;
        height: 50px;
    }
}
._c_function-item {
    margin-bottom: 16px;
    font-size: 20px;
}
._c_modal{
    max-width: 55vw;
    .modal-title {
        font-weight: bold;
        color: #56adad;
    }
}
._c_icon-edit {
    cursor: pointer;
    &:hover {
        color: #56adad;
    }
}
._c_icon-del {
    cursor: pointer;
    &:hover {
        color: #da3d3d;
    }
}
._c_product-preview {
    width: 100%;
    height: 545px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// ._c_priceHelp {
//     display: none;
//     color: salmon;
// }


// ----- BS4 強制修改 -----
.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: none !important;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}