<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/admin.all.min.css">
    <link rel="shortcut icon" href="./img/tuxedo.ico">
    <title>HOT GUY Backend</title>
</head>
<body>
  <div id="app" class="container-fluid">
    <!-- row 開始 -->
    <div class="row">
      <!-- 頁面左方選單欄 開始 -->
      <nav class="col-2 pt-5  _c_navbar">
        <!-- logo -->
        <div class="d-flex flex-column justify-content-center align-items-center mb-5 _c_logo-wrap">
          <img src="https://image.flaticon.com/icons/svg/195/195482.svg" alt="">
          <h1>HOT GUY</h1>          
        </div>
        <!-- 功能選單 -->
        <ul class="_c_function-list">
          <li class="_c_function-item">
            <a class="py-2 d-flex justify-content-center align-items-center" href="#">
              <span class="material-icons mr-3">view_list</span>
              <p class="m-0 font-weight-bold">產品列表</p>              
            </a>
          </li>
          <li class="_c_function-item">
            <a class="py-2 d-flex justify-content-center align-items-center" href="#">
              <span class="material-icons mr-3">forum</span>
              <p class="m-0 font-weight-bold">顧客問答</p>
            </a>
          </li>
          <li class="_c_function-item">
            <a class="py-2 d-flex justify-content-center align-items-center" href="#">
              <span class="material-icons mr-3">assignment</span>
              <p class="m-0 font-weight-bold">訂單系統</p>
            </a>
          </li>
          <li class="_c_function-item">
            <a class="py-2 d-flex justify-content-center align-items-center" href="#">
              <span class="material-icons mr-3">supervisor_account</span>
              <p class="m-0 font-weight-bold">會員系統</p>
            </a>
          </li>
          <li class="_c_function-item">
            <a class="py-2 d-flex justify-content-center align-items-center" href="#">
              <span class="material-icons mr-3">settings</span>
              <p class="m-0 font-weight-bold">後台設定</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- 頁面左方選單欄 結束 -->
      <main class="col-10 pt-5">
        <section class="mb-4">
          <div class="container d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addProductModal" @click="openAddNewProduct">新增商品</button>
          </div>
        </section>
        <section>
          <div class="container">
              <table class="table table-hover bg-light">
                <thead class="text-center">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">產品名稱</th>
                    <th scope="col">產品分類</th>
                    <th scope="col">原價</th>
                    <th scope="col">售價</th>
                    <th scope="col">狀態</th>
                    <th scope="col">編輯</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr v-for="product in productsData" :key="product.id">
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.title }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.origin_price }}</td>
                    <td>{{ product.price }}</td>
                    <!-- 使用三原運算子判斷 boolean -->
                    <td>{{ product.enabled ? "上架中": "下架中" }}</td>
                    <td>
                        <span class="material-icons mr-2 _c_icon-edit" data-toggle="modal" data-target="#editProductModal" @click="editProduct(product.id)">edit</span>
                        <span class="material-icons _c_icon-del" @click="deleteProduct(product.id)">delete</span>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </section>
      </main>
    </div> 
    <!-- row 結束 -->
  
    <!-- ------ 新增商品 Modal ------ -->
    <div class="modal " id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
      <div class="modal-dialog  _c_modal">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">新增商品</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="material-icons">close</span>
            </button>
          </div>
          <!-- 新增需填寫的產品內容 -->
          <div class="row modal-body">
            <!-- - 新增商品名稱 - -->
            <div class="col-12 form-group">
              <label for="title">商品名稱</label>
              <input type="text" class="form-control" id="title" aria-describedby="titleHelp" v-model="temporarilyData.title">
            </div>
            <!-- - 新增中間內容左邊 - -->
            <div class="col-6">
              <!-- - 新增商品圖片 - -->
              <div class="form-group">
                <label for="imageUrl">商品圖片網址</label>
                <input type="text" class="form-control" id="imageUrl" aria-describedby="imageUrlHelp" v-model="temporarilyData.imageUrl">
              </div>
              <!-- - 新增商品分類 - -->
              <div class="form-group">
                <label for="category">商品分類</label>
                <select class="form-control" id="category" v-model="temporarilyData.category">
                  <option value="西裝襯衫">西裝襯衫</option>
                  <option value="西裝外套">西裝外套</option>
                  <option value="西裝長褲">西裝長褲</option>
                  <option value="領帶">領帶</option>
                  <option value="口袋巾">口袋巾</option>
                </select>
              </div>
              <!-- - 新增商品狀態 - -->
              <div class="form-group">
                <label for="enabledState">商品狀態</label>
                <select class="form-control" id="enabledState" v-model="temporarilyData.enabled">
                  <option :value=true>上架中</option>
                  <option :value=false>下架中</option>
                </select>
              </div>
              <!-- - 新增商品單位 - -->
              <div class="form-group">
                <label for="unit">單位</label>
                <input type="text" class="form-control" id="unit" aria-describedby="unitHelp" v-model="temporarilyData.unit">
              </div>
              <!-- - 新增商品原價 - -->
              <div class="form-group">
                <label for="origin_price">原價</label>
                <input type="number" class="form-control" id="origin_price" v-model="temporarilyData.origin_price">
              </div>
              <!-- - 新增商品售價 - -->
              <div class="form-group">
                <label for="price">售價</label>
                <input type="number" class="form-control" id="price" v-model="temporarilyData.price">
                <!-- <small id="priceHelp" class="_c_priceHelp">商品售價不可以高於商品原價</small> -->
              </div>
              <!-- - 新增商品短述 - -->
              <div class="form-group">
                <label for="content">商品短述</label>
                <input type="text" class="form-control" id="content" aria-describedby="contentHelp" v-model="temporarilyData.content">
              </div>
            </div>
            <!-- - 商品圖片預覽 - -->
            <div class="col-6 form-group">
              <p>商品預覽<p>
              <div class="_c_product-preview">
                <img :src="temporarilyData.imageUrl" alt="">
              </div>
            </div>
            <!-- - 新增商品詳述 - -->
            <div class="col-12 form-group">
              <label for="description">商品詳述</label>
              <textarea class="form-control" id="description" rows="3" v-model="temporarilyData.description"></textarea>
            </div>
          </div>
          <!-- 儲存或關閉 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="addNewProduct">確認</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ------ 修改商品 Modal ------ -->
    <div class="modal " id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
      <div class="modal-dialog  _c_modal">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editProductModalLabel">編輯產品</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="material-icons">close</span>
            </button>
          </div>
          <!-- 修改填寫的產品內容 -->
          <div class="row modal-body">
            <!-- - 修改商品名稱 - -->
            <div class="col-12 form-group">
              <label for="edit-title">商品名稱</label>
              <input type="text" class="form-control" id="edit-title" aria-describedby="edit-titleHelp" v-model="temporarilyData.title">
            </div>
            <!-- - 修改中間內容左邊 - -->
            <div class="col-6">
              <!-- - 修改商品圖片 - -->
              <div class="form-group">
                <label for="edit-imageUrl">商品圖片網址</label>
                <input type="text" class="form-control" id="edit-imageUrl" aria-describedby="edit-imageUrlHelp" v-model="temporarilyData.imageUrl">
              </div>
              <!-- - 修改商品分類 - -->
              <div class="form-group">
                <label for="edit-category">商品分類</label>
                <select class="form-control" id="edit-category"  v-model="temporarilyData.category">
                  <option value="西裝襯衫">西裝襯衫</option>
                  <option value="西裝外套">西裝外套</option>
                  <option value="西裝長褲">西裝長褲</option>
                  <option value="領帶">領帶</option>
                  <option value="口袋巾">口袋巾</option>
                </select>
              </div>
              <!-- - 修改商品狀態 - -->
              <div class="form-group">
                <label for="edit-enabledState">商品狀態</label>
                <select class="form-control" id="edit-enabledState" v-model="temporarilyData.enabled">
                  <option :value=true>上架中</option>
                  <option :value=false>下架中</option>
                </select>
              </div>
              <!-- - 修改商品單位 - -->
              <div class="form-group">
                <label for="edit-unit">單位</label>
                <input type="text" class="form-control" id="edit-unit" aria-describedby="edit-unitHelp" v-model="temporarilyData.unit">
              </div>
              <!-- - 修改商品原價 - -->
              <div class="form-group">
                <label for="edit-origin_price">原價</label>
                <input type="number" class="form-control" id="edit-origin_price" v-model="temporarilyData.origin_price">
              </div>
              <!-- - 修改商品售價 - -->
              <div class="form-group">
                <label for="edit-price">售價</label>
                <input type="number" class="form-control" id="edit-price" v-model="temporarilyData.price">
              </div>
              <!-- - 修改商品短述 - -->
              <div class="form-group">
                <label for="edit-content">商品短述</label>
                <input type="text" class="form-control" id="edit-content" aria-describedby="edit-contentHelp" v-model="temporarilyData.content">
              </div>
            </div>
            <!-- - 修改圖片預覽 - -->
            <div class="col-6 form-group">
              <p>商品預覽<p>
              <div class="_c_product-preview">
                <img :src="temporarilyData.imageUrl" alt="">
              </div>
            </div>

            <!-- - 修改商品詳述 - -->
            <div class="col-12 form-group">
              <label for="edit-description">商品詳述</label>
              <textarea class="form-control" id="edit-description" rows="3" v-model="temporarilyData.description"></textarea>
            </div>
          </div>
          <!-- 儲存或關閉 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" @click="closeEditProduct">儲存</button>
          </div>
        </div>
      </div>
    </div>
  </div>






</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./JS/all.js"></script>
</html>